{% extends 'bash.html' %}
{% load static %}
{% block content %}
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<style>
.home-content .sales-boxes .recent-sales{
  width: 100%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
</style>

<section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">INCOME</span>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search...">
        <i class='bx bx-search' ></i>
      </div>
      <div class="profile-details">
        <i class="fa fa-user" aria-hidden="true" style="margin-left:40px;"></i>
        <a href="/logout"  style="margin-left:10px; text-decoration:none;"> Logout </a>
      </div>
    </nav>

    <div class="home-content">


      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">Update Expensive Category Details</div>
            <hr>
          <div class="sales-details">
        <form method="POST" class="post-form" action="/updateIncomeCategory/{{incomeCategory.id}}">
   {% csrf_token %}
  <div class="container">
 <br>
  <div class="form-group row">

  <div class="form-group row">
  <label class="col-sm-2 col-form-label">Category Id:</label>
  <div class="col-sm-4">
   <input type="text" class="form-control" name="id" id="id_id" required maxlength="20" value="{{ incomeCategory.id }}"/>
  </div>
   </div>
   <div class="form-group row">
  <label class="col-sm-2 col-form-label">Category Name:</label>
  <div class="col-sm-4">
   <input type="text" class="form-control" name="category_name" id="id_name" required maxlength="100" value="{{ incomeCategory.category_name }}" />
  </div>
   </div>
  <div class="form-group row">
  <label class="col-sm-1 col-form-label"></label>
  <div class="col-sm-4">
  <button type="submit" class="btn btn-success btn-lg">Update</button>
  </div>
   </div>
  </div>
  </div>
 </form>
          </div>
        </div>
      </div>
    </div>
</section>

{% endblock %}